*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Inter",sans-serif;
}

body{

background:#070b18;

color:white;

overflow-x:hidden;

}

.navbar{

height:90px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 70px;

}

.logo{

font-size:34px;

font-weight:800;

}

.logo span{

color:#bf6cff;

}

nav{

display:flex;

gap:45px;

}

nav a{

color:#ddd;

text-decoration:none;

font-size:17px;

cursor:pointer;

transition:.3s;

}

nav a:hover{

color:white;

}

.active{

color:#b56dff;

}

.right{

display:flex;

gap:15px;

}

.signin{

padding:12px 22px;

background:none;

border:1px solid #444;

border-radius:14px;

color:white;

cursor:pointer;

}

.start{

padding:13px 24px;

border:none;

border-radius:14px;

background:linear-gradient(135deg,#835dff,#ff5cb5);

color:white;

font-weight:700;

cursor:pointer;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px 70px;

min-height:calc(100vh - 90px);

}

.left{

width:55%;

}

.small{

color:#bf6cff;

font-weight:700;

letter-spacing:3px;

margin-bottom:25px;

}

h1{

font-size:82px;

line-height:1;

margin-bottom:30px;

}

h1 span{

background:linear-gradient(90deg,#8f5bff,#ff72c7);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.desc{

font-size:22px;

line-height:1.7;

color:#b8bdd6;

max-width:650px;

margin-bottom:35px;

}

.search{

display:flex;

background:#10172f;

padding:8px;

border-radius:18px;

border:1px solid #28314f;

max-width:650px;

}

.search input{

flex:1;

background:none;

border:none;

outline:none;

color:white;

padding:18px;

font-size:18px;

}

.search button{

padding:18px 30px;

border:none;

border-radius:14px;

background:linear-gradient(135deg,#7c5cff,#ff5db5);

color:white;

font-weight:700;

cursor:pointer;

}

.rightSide{

width:40%;

display:flex;

justify-content:center;

align-items:center;

}

.orb{

width:340px;

height:340px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:120px;

background:radial-gradient(circle,#9864ff,#4323ff);

box-shadow:

0 0 120px rgba(124,92,255,.8),

0 0 220px rgba(124,92,255,.35);

animation:float 5s ease-in-out infinite;

}

@keyframes float{

50%{

transform:translateY(-18px);

}

}
.rightSide{
position:relative;
}

.float{

position:absolute;

display:flex;

align-items:center;

gap:10px;

padding:14px 18px;

background:rgba(18,22,45,.9);

border:1px solid rgba(255,255,255,.08);

border-radius:18px;

backdrop-filter:blur(15px);

box-shadow:0 15px 35px rgba(0,0,0,.35);

font-weight:600;

animation:floatCard 5s ease-in-out infinite;

}

.float span{
font-size:15px;
}

.chat{
top:-10px;
left:10px;
}

.image{
top:70px;
right:-20px;
}

.video{
top:200px;
right:-40px;
}

.study{
bottom:140px;
left:-30px;
}

.voice{
bottom:30px;
left:40px;
}

.business{
bottom:-20px;
right:20px;
}

@keyframes floatCard{

50%{
transform:translateY(-10px);
}

}
